
//colors


$scissors-gradient: hsl(39, 89%, 49%);
$paper-gradient: hsl(230, 89%, 62%);
$rock-gradient: hsl(349, 71%, 52%);


//Images

$imageP: "../images/icon-paper.svg";
$imageS:"../images/icon-scissors.svg";
$imageR:"../images/icon-rock.svg";